{% load bootstrap4 %} {% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Asset Inventory</title>
  

    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}

    <style>
      .form_wrapper {
        max-width: 600px;
        margin: 0px auto;
        padding-top: 40px;
      }
      form li {
        display: none;
      }

      form small {
        display: none;
      }
      .form-text {
        display: none;
      }

      form label {
        color: white !important;
      }

      form input {
        height: 50px !important;
        color: black;
        font-size: 25px;
        font-weight: 600;
      }
    </style>
  </head>

  <body class="bg-dark p-4">
    <div class="form_wrapper">
      <h2 class="text-white mt-3 mb-3">Register</h2>

      <form method="POST">
        {%csrf_token%} {% bootstrap_form form %}

        <button class="btn btn-success" type="submit">Sign Up</button>
      </form>

      <span class="mt-4 text-white">
        Already have an account <a href="{%url 'login'%}"> Sign in</a>
      </span>
    </div>
    {%include "users/scripts.html"%} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}
  </body>
</html>
