{%extends 'main/base.html'%}
<!-- bootstrap -->
{% load bootstrap4%}
<!-- static -->
{% load static %}

<!-- content -->
{%block content%} ​
<div class="container" style="height: 87.5vh; width: 100vw; padding: 10px">
  <section class="text-center mt-5" style="max-width: 500px; margin: 20px auto">
    <h1 class="h1 text-white">
      Welcome <span style="text-transform: capitalize"> {{user}}</span>
    </h1>

    {% if user.is_superuser %}
    <p class="h4 text-white">You have Super admin access</p>
    {%elif user.is_admin %}
    <p class="h4 text-white">You have admin access</p>
    {%else%}
    <p class="h4 text-white">You have user access</p>
    {% endif %}
  </section>
</div>
​ {% endblock %}
